
/* file: custom-theme.css */
.gjs-one-bg        { background:#262627 !important; } /* abu tua */
.gjs-two-bg        { background:#262627 !important; }
.gjs-three-bg      { background:#0f94e5 !important; } /* aksen biru */
.gjs-one-color     { color:#f9fafb !important; }      /* teks terang */
.gjs-two-color     { color:#d1d5db !important; }
.gjs-tertiary-color  { background:#0f94e5 !important; }
.gjs-quaternary-color  { background:#0f94e5 !important; }
.gpjs-four-color    { color:#0f94e5 !important; } /* teks terang */



/* Dropdown menu */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-menu {
  display: none;
  position: absolute;
  right: 0;
  top: 100%;
  min-width: 180px;
  z-index: 1000;
  margin-top: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.dropdown:hover .dropdown-menu {
  display: block;
}
